<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading">
        <span jhiTranslate="moneyloggergwApp.moneyloggerTransaction.detail.title">Transaction</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span jhiTranslate="moneyloggergwApp.moneyloggerTransaction.amount">Amount</span></dt>
        <dd>
          <span>{{ transaction.amount }}</span>
        </dd>
        <dt><span jhiTranslate="moneyloggergwApp.moneyloggerTransaction.details">Details</span></dt>
        <dd>
          <span>{{ transaction.details }}</span>
        </dd>
        <dt><span jhiTranslate="moneyloggergwApp.moneyloggerTransaction.category">Category</span></dt>
        <dd>
          <div *ngIf="transaction.category">
            <a [routerLink]="['/category', transaction.category?.id, 'view']">{{ transaction.category?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
